.gif-hardware{
    background-image: url(../../assets/img/GIFS/Qm4D.gif);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    height: 100%; 
    width: 100%; 
}

