.container-img{
    background-image: url(../../assets/img/GIFS/ciscopretologo.gif);
    background-size: cover;
    background-position: center;
    height: 470px;
}

.container-text{
    display: flex;
    justify-content: center;
    padding: 100px 50px;
}

.container-img-ccna{
    background-image: url(../../assets/img/GIFS/);
    background-size: cover;
    background-position: center;
    height: 470px;
}

